In [1]:
import ast
from collections import Counter

import pandas as pd

In [3]:
df = pd.read_csv("data/SpacyProcessing/v1/foodkg_spacy_processed.csv")
df.head(5)

,recipe_id,original_ingredients,processed_ingredients
0,0,"['1 c. firmly packed brown sugar', '1/2 c. eva...","['brown sugar', 'milk', 'vanilla', 'nut', 'but..."
1,1,"['1 small jar chipped beef, cut up', '4 boned ...","['beef', 'chicken breast', 'cream mushroom sou..."
2,2,"['2 (16 oz.) pkg. frozen corn', '1 (8 oz.) pkg...","['corn', 'cream cheese', 'butter', 'garlic', '..."
3,3,"['1 large whole chicken', '2 (10 1/2 oz.) cans...","['chicken', 'chicken gravy', 'cream mushroom s..."
4,4,"['1 c. peanut butter', '3/4 c. graham cracker ...","['peanut butter', 'graham cracker crumb', 'but..."

In [5]:
df[df['recipe_id'] == 388422]

,recipe_id,original_ingredients,processed_ingredients
388422,388422,"['1/2 c. butter, melted', '1 1/3 c. flour', '1...","['butter', 'flour', 'sugar']"

In [6]:
foodkg_df = pd.read_csv('data/raw/nourish_public_FoodKG.csv')
foodkg_df.head(5)

,id,title,ingredients,directions,link,source,ner
0,2229479,Double Chocolate Chewy Cookies,"['3/4 cup softened salted butter', '1 1/2 cup ...","['Heat oven to 350F.', 'Cream butter and sugar...",cookpad.com/us/recipes/339167-double-chocolate...,Recipes1M,"['butter', 'sugar', 'eggs', 'vanilla', 'flour'..."
1,2229480,"""Old Fashioned Potato Soup - ""Homemade"" Potato...","['6 Potatoes, peeled, cubes', '2 Leeks, washed...",['Put all ingredients except milk and chives i...,online-cookbook.com/goto/cook/rpage/0003A6,Recipes1M,"['Potatoes', 'Leeks', 'Onions', 'Ham bone', 'C..."
2,2229492,Persian pasta with spiced chickpeas and pistac...,"['250 g (8.8oz) spaghetti', '1 tin of chickpea...","['Boil a large pot of water for your pasta.', ...",www.lovefood.com/guide/recipes/17869/persian-p...,Recipes1M,"['chickpeas', 'onion', 'tomatoes', 'clove of g..."
3,2229494,Shawn & Lauras Kitchen Sink Feijoada,"['1 12 tablespoons garlic (chopped)', '1 shall...","['Chop garlic, shallot, green onions, parsley ...",www.food.com/recipe/shawn-lauras-kitchen-sink-...,Recipes1M,"['garlic', 'shallot', 'Italian parsley', 'oreg..."
4,2229498,The 4:2:1 Golden Ratio for Always Delicious Ta...,"['4 Eggs (large)', '2 tbsp Sugar', '1 tsp Salt...","['Break the eggs into a bowl.', 'Put all the i...",cookpad.com/us/recipes/145525-the-421-golden-r...,Recipes1M,"['Eggs', 'Sugar', 'Salt', 'Mayonnaise']"

In [7]:
foodkg_df[foodkg_df['id'] == 388422]

,id,title,ingredients,directions,link,source,ner
369554,388422,Lemon Butter Snowbars,"['1/2 c. butter, melted', '1 1/3 c. flour', '1...","['Pat into ungreased pan.', 'Bake 15 minutes a...",www.cookbooks.com/Recipe-Details.aspx?id=510717,Gathered,"['butter', 'flour', 'sugar']"