Goal: Retrieve DB

In [1]:
# !pip install --upgrade pip -q
# !pip install psycopg2-binary -q
# !pip install SQLAlchemy -q

In [2]:
import os

import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine

load_dotenv()  # Take environment variables from .env

True

In [3]:
# Credentials
host = os.getenv("POSTGRES_HOST")
port = os.getenv("POSTGRES_PORT")
database = os.getenv("POSTGRES_DATABASE")
user = os.getenv("POSTGRES_USER")
password = os.getenv("POSTGRES_PASSWORD")
# Create the connection engine
engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}")
# Test the connection
try:
    with engine.connect() as conn:
        print("✅ Connected successfully!")
except Exception as e:
    print("❌ Connection failed:", e)

✅ Connected successfully!

In [4]:
query = "SELECT * FROM \"FoodKG\";"  # Retrieve everything
df = pd.read_sql(query, engine)

In [5]:
df.head()

,id,title,ingredients,directions,link,source,ner
0,2229479,Double Chocolate Chewy Cookies,"[3/4 cup softened salted butter, 1 1/2 cup sug...","[Heat oven to 350F., Cream butter and sugar., ...",cookpad.com/us/recipes/339167-double-chocolate...,Recipes1M,"[butter, sugar, eggs, vanilla, flour, cocoa, b..."
1,2229480,"""Old Fashioned Potato Soup - ""Homemade"" Potato...","[6 Potatoes, peeled, cubes, 2 Leeks, washed, c...",[Put all ingredients except milk and chives in...,online-cookbook.com/goto/cook/rpage/0003A6,Recipes1M,"[Potatoes, Leeks, Onions, Ham bone, Carrot, Ce..."
2,2229492,Persian pasta with spiced chickpeas and pistac...,"[250 g (8.8oz) spaghetti, 1 tin of chickpeas, ...","[Boil a large pot of water for your pasta., Di...",www.lovefood.com/guide/recipes/17869/persian-p...,Recipes1M,"[chickpeas, onion, tomatoes, clove of garlic, ..."
3,2229494,Shawn & Lauras Kitchen Sink Feijoada,"[1 12 tablespoons garlic (chopped), 1 shallot,...","[Chop garlic, shallot, green onions, parsley &...",www.food.com/recipe/shawn-lauras-kitchen-sink-...,Recipes1M,"[garlic, shallot, Italian parsley, oregano, ba..."
4,2229498,The 4:2:1 Golden Ratio for Always Delicious Ta...,"[4 Eggs (large), 2 tbsp Sugar, 1 tsp Salt, 1 t...","[Break the eggs into a bowl., Put all the ingr...",cookpad.com/us/recipes/145525-the-421-golden-r...,Recipes1M,"[Eggs, Sugar, Salt, Mayonnaise]"

In [6]:
len(df)  # check number of rows

2231142

In [12]:
df.to_csv("data/nourish_public_FoodKG.csv", index=False)  # save entire database

In [16]:
filtered_df = df[["id", "ingredients"]].sort_values(by=["id"])  # get only id and ingredients
filtered_df.head()

     id                                        ingredients
443   0  [1 c. firmly packed brown sugar, 1/2 c. evapor...
444   1  [1 small jar chipped beef, cut up, 4 boned chi...
445   2  [2 (16 oz.) pkg. frozen corn, 1 (8 oz.) pkg. c...
446   3  [1 large whole chicken, 2 (10 1/2 oz.) cans ch...
447   4  [1 c. peanut butter, 3/4 c. graham cracker cru...

In [17]:
filtered_df.to_csv("data/FoodKG_ingredients.csv", index=False)  # save only id and ingredients

In [18]:
len(filtered_df)

2231142

In [26]:
filtered_df.tail(5)  # note ids are sorted

              id                                        ingredients
279      2231137  [1/2 cup chocolate hazelnut spread (recommende...
1948712  2231138  [1 dozen eggs, 1 paprika, 1 salt and pepper to...
1948713  2231139  [150 grams Daikon radish, 1 tbsp Sesame oil, 1...
1948714  2231140  [1 cup apple cider, 6 tablespoons sugar, 4 tab...
1948716  2231141  [1 pound ground veal, 1/2 pound sweet Italian ...