Goal: Retrieve DB

In [1]:
# !pip install --upgrade pip -q
# !pip install psycopg2-binary -q
# !pip install SQLAlchemy -q

In [1]:
import os

import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine

load_dotenv()  # Take environment variables from .env

True

In [2]:
# Credentials
host = os.getenv("POSTGRES_HOST")
port = os.getenv("POSTGRES_PORT")
database = os.getenv("POSTGRES_DATABASE")
user = os.getenv("POSTGRES_USER")
password = os.getenv("POSTGRES_PASSWORD")
# Create the connection engine
engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}")
# Test the connection
try:
    with engine.connect() as conn:
        print("✅ Connected successfully!")
except Exception as e:
    print("❌ Connection failed:", e)

✅ Connected successfully!

In [11]:
query = """
        SELECT fdc_id,
               ingredients
        FROM usda_2022_branded_food_product
        WHERE fdc_id IS NOT NULL
          AND ingredients IS NOT NULL LIMIT 500; \
        """
df = pd.read_sql(query, engine)

In [12]:
df.columns

Index(['fdc_id', 'ingredients'], dtype='object')

In [6]:
len(df)  # check number of rows

2231142

In [12]:
df.to_csv("data/usda_2022_branded_food_product.csv", index=False)  # save entire database

In [16]:
filtered_df = df[["fdc_id", "ingredients"]].sort_values(by=["id"])  # get only id and ingredients
filtered_df.head()

     id                                        ingredients
443   0  [1 c. firmly packed brown sugar, 1/2 c. evapor...
444   1  [1 small jar chipped beef, cut up, 4 boned chi...
445   2  [2 (16 oz.) pkg. frozen corn, 1 (8 oz.) pkg. c...
446   3  [1 large whole chicken, 2 (10 1/2 oz.) cans ch...
447   4  [1 c. peanut butter, 3/4 c. graham cracker cru...

In [17]:
filtered_df.to_csv("data/usda_2022_branded_food_product_ingredients.csv", index=False)  # save only id and ingredients

In [18]:
len(filtered_df)

2231142

In [26]:
filtered_df.tail(5)  # note ids are sorted

              id                                        ingredients
279      2231137  [1/2 cup chocolate hazelnut spread (recommende...
1948712  2231138  [1 dozen eggs, 1 paprika, 1 salt and pepper to...
1948713  2231139  [150 grams Daikon radish, 1 tbsp Sesame oil, 1...
1948714  2231140  [1 cup apple cider, 6 tablespoons sugar, 4 tab...
1948716  2231141  [1 pound ground veal, 1/2 pound sweet Italian ...