In [1]:
from dotenv import load_dotenv

load_dotenv()  # Take environment variables from .env
import pandas as pd

In [2]:
raw_data = pd.read_csv("../data/raw/usda_2022_food_branded_experimental_DESCRIPTION_ONLY.csv")
print(len(raw_data))
raw_data.head()

1766279

   fdc_id                                        description
0  167512  Pillsbury Golden Layer Buttermilk Biscuits, Ar...
1  167513  Pillsbury, Cinnamon Rolls with Icing, refriger...
2  167514  Kraft Foods, Shake N Bake Original Recipe, Coa...
3  167515     George Weston Bakeries, Thomas English Muffins
4  167516         Waffles, buttermilk, frozen, ready-to-heat

In [3]:
batch_results_df = pd.read_csv("../batches/batch_results_all.csv")
print(len(batch_results_df))
batch_results_df.head()

100000

   fdc_id mapped_ingredient
0  167512          biscuits
1  167513          cinnamon
2  167514        breadcrumb
3  167515            muffin
4  167516            waffle

In [4]:
batch_results_df = batch_results_df.merge(
    raw_data[['fdc_id', 'description']],
    on='fdc_id',
    how='left'
)
batch_results_df = batch_results_df.rename(columns={'mapped_ingredient': 'response'})
print(len(batch_results_df))
batch_results_df.head()

100000

   fdc_id    response                                        description
0  167512    biscuits  Pillsbury Golden Layer Buttermilk Biscuits, Ar...
1  167513    cinnamon  Pillsbury, Cinnamon Rolls with Icing, refriger...
2  167514  breadcrumb  Kraft Foods, Shake N Bake Original Recipe, Coa...
3  167515      muffin     George Weston Bakeries, Thomas English Muffins
4  167516      waffle         Waffles, buttermilk, frozen, ready-to-heat

In [5]:
single_run_df = pd.read_csv("../single_run/results_async.csv")
print(len(single_run_df))
single_run_df.head()

1666279

   fdc_id                  description   response
0  421450  CANDY WAFERS PURPLE VANILLA    vanilla
1  421451     TURIN, KAHLUA CHOCOLATES  chocolate
2  421452              PINA SOFT DRINK       soda
3  421453                     LIMONADA   lemonade
4  421454     BOMBI CRAYON, BUBBLE GUM        gum

In [6]:
combined_df = pd.concat([single_run_df, batch_results_df], ignore_index=True).drop_duplicates("fdc_id")
print(len(combined_df))
combined_df.head()

1766279

   fdc_id                  description   response
0  421450  CANDY WAFERS PURPLE VANILLA    vanilla
1  421451     TURIN, KAHLUA CHOCOLATES  chocolate
2  421452              PINA SOFT DRINK       soda
3  421453                     LIMONADA   lemonade
4  421454     BOMBI CRAYON, BUBBLE GUM        gum

In [7]:
print(len(combined_df) == len(raw_data))

True

In [8]:
combined_df = combined_df.sort_values(by='fdc_id', ascending=True)
combined_df.to_csv("mapped_responses.csv", index=False)