# This file combines the batched dat

In [4]:
from dotenv import load_dotenv
import os
load_dotenv()  # Take environment variables from .env
import pandas as pd

In [2]:
raw_data = pd.read_csv("../../data/raw/usda_2022_food_branded_experimental_DESCRIPTION_ONLY.csv")
print(len(raw_data))
raw_data.head()

1766279

   fdc_id                                        description
0  167512  Pillsbury Golden Layer Buttermilk Biscuits, Ar...
1  167513  Pillsbury, Cinnamon Rolls with Icing, refriger...
2  167514  Kraft Foods, Shake N Bake Original Recipe, Coa...
3  167515     George Weston Bakeries, Thomas English Muffins
4  167516         Waffles, buttermilk, frozen, ready-to-heat

In [ ]:
batch_path = "../batches/batch_results_all.csv"

if os.path.exists(batch_path):
    batch_results_df = pd.read_csv(batch_path)
    print(len(batch_results_df))
    display(batch_results_df.head())
else:
    print("File does not exist:", path)

In [ ]:
batch_results_df = batch_results_df.merge(
    raw_data[['fdc_id', 'description']],
    on='fdc_id',
    how='left'
)
batch_results_df = batch_results_df.rename(columns={'mapped_ingredient': 'response'})
print(len(batch_results_df))
batch_results_df.head()

In [ ]:
single_run_df = pd.read_csv("../single_run/results_async.csv")
print(len(single_run_df))
single_run_df.head()

In [6]:
combined_df = pd.concat([single_run_df, batch_results_df], ignore_index=True).drop_duplicates("fdc_id")
print(len(combined_df))
combined_df.head()

1766279

   fdc_id                  description   response
0  421450  CANDY WAFERS PURPLE VANILLA    vanilla
1  421451     TURIN, KAHLUA CHOCOLATES  chocolate
2  421452              PINA SOFT DRINK       soda
3  421453                     LIMONADA   lemonade
4  421454     BOMBI CRAYON, BUBBLE GUM        gum

In [7]:
print(len(combined_df) == len(raw_data))

True

In [8]:
combined_df = combined_df.sort_values(by='fdc_id', ascending=True)
combined_df.to_csv("mapped_responses.csv", index=False)

In [10]:
# inspect to see NaN's
combined_df[combined_df['response'].isna()]

          fdc_id                                        description response
51549     472999                                   MINIS ASSORTMENT      NaN
269105    776874                                                NaN      NaN
482799   1165113                        Yplt Kids Variety Pack 8 Ct      NaN
627926   1310367                                              WRAPS      NaN
741220   1423661              TRADITIONAL TANDOORI NAN, TRADITIONAL      NaN
1033345  1715942              TRADITIONAL TANDOORI NAN, TRADITIONAL      NaN
1074752  1757383                                                NaN      NaN
1074753  1757384                                                NaN      NaN
1074754  1757385                                                NaN      NaN
1074755  1757386                                                NaN      NaN
1074756  1757387                                                NaN      NaN
1074757  1757388                                                NaN      NaN
1074758  1757389                                                NaN      NaN
1074759  1757390                                                NaN      NaN
1296187  1981104              TRADITIONAL TANDOORI NAN, TRADITIONAL      NaN
1533363  2218282                CRUNCHY SHAGGY ROLL, CRUNCHY SHAGGY      NaN
1538151  2223070                                      Aluminum Cans      NaN
1545115  2232401  Consistent size, exact portion control, excell...      NaN